@media(max-width:768px) {

    .textocar {
        width: 100%;
        padding: 5%;
    }

    .imagencar {
        width: 250px;
        height: auto;

    }

    .framecar {
        width: 250px;
        height: auto;
    }

    .carousel-inner {
        width: 250px;
        height: auto;

    }

    .carousel-inner {
        width: 250px;
        height: 150px;
    }

}